force-app/main/default/flows/Customer_Research_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Recent_Earnings</name>
        <label>決算チェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckRecentEarnings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_Research</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckRecentEarnings</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varHasRecentEarnings</assignToReference>
            <name>hasRecentEarnings</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varHasExistingEarningsTopic</assignToReference>
            <name>hasExistingTopic</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_Earnings_Summary_Action</name>
        <label>決算サマリー実行</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentforceHeadlessResearch</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>varObjectApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>researchType</name>
            <value>
                <stringValue>決算サマリー</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AgentforceHeadlessResearch</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Run_Research</name>
        <label>顧客リサーチ実行</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentforceHeadlessResearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Earnings_For_Summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>varAccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>varObjectApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>researchType</name>
            <value>
                <stringValue>顧客リサーチ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AgentforceHeadlessResearch</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varResearchSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Name_Case</name>
        <label>取引先名・オブジェクト種別セット（Case）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Name_Direct</name>
        <label>取引先名・オブジェクト種別セット（Account）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Name_Opp</name>
        <label>取引先名・オブジェクト種別セット（Opportunity）</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_From_Selection</name>
        <label>取引先ID・名前・オブジェクト種別セット</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Earnings_For_Summary</name>
        <label>決算サマリーも実行？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>不要</defaultConnectorLabel>
        <rules>
            <name>Run_Earnings_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasRecentEarnings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasExistingEarningsTopic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Earnings_Summary_Action</targetReference>
            </connector>
            <label>決算あり・未作成</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>recordId あり？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_Select_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>recordId なし（グローバルアクション）</defaultConnectorLabel>
        <rules>
            <name>RecordId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detect_ObjectType</targetReference>
            </connector>
            <label>recordId あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>Detect_ObjectType</name>
        <label>オブジェクト種別判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Direct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>顧客リサーチエージェントをヘッドレスで起動するグローバルアクション用Screen Flow。レコードページから起動した場合はrecordIdから取引先名を自動解決し、グローバルアクションから起動した場合は取引先選択画面を表示する。</description>
    <environments>Default</environments>
    <interviewLabel>Customer Research Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Research Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Direct</name>
        <label>Account取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name_Direct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_From_Case</name>
        <label>Case経由で取引先名取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_From_Opp</name>
        <label>Opportunity経由で取引先名取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_From_Selection</name>
        <label>選択した取引先を取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_From_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Case取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_From_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Opportunity取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_From_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_Select_Screen</name>
        <label>取引先を選択</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_From_Selection</targetReference>
        </connector>
        <fields>
            <name>Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>リサーチ対象の取引先</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>リサーチ開始</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Recent_Earnings</targetReference>
        </connector>
        <fields>
            <name>Start_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;🔍 リサーチを開始します&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!varAccountName}&lt;/strong&gt; のリサーチをバックグラウンドで実行します。&lt;/p&gt;&lt;p&gt;「次へ」を押してください。完了後、しばらくしてからページをリロードすると Agentforce Topics に結果が表示されます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>エラー</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ エラーが発生しました&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHasExistingEarningsTopic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varHasRecentEarnings</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOppAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResearchSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
